@import 'tailwindcss';

@theme  {
  --color-primary: #192818;
  --color-secondary: #9e96aa;
  --font-primary: 'Rounded Elegance', sans-serif;
  --fontsecondary: 'Calibri', sans-serif;
  --color-lila: #9e96aa;
  --color-verde: #192818;
  --color-crudo: #f2f2f2;
}

@font-face {
  font-family: 'Rounded Elegance';
  src: url('/fonts/RoundedElegance.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-[#f2f2f2];
}